<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>


  </style>
</head>
<body>

<div class="sidebar">
  <details>
    <summary>Dashboard</summary>
    <a routerLink="/patient-layout/appointment-doctor">Dashboard</a>
  </details>

  <details>
    <summary>My Program List</summary>
    <a routerLink="/patient-layout/appointment-doctor">Appointment Doctor</a>
    <a routerLink="/patient-layout/treatment-doctor">Treatment Doctor</a>
  </details>





</div>



</body>
</html>
