<div class="content">
  <div class="form-container">
    <!-- combined-form.component.html -->
    <form (ngSubmit)="createPatient()">

      <label for="username">User Name:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="username" disabled>

      <label for="doctor_name">Doctor Name:</label>
      <input type="text" id="doctor_name" name="doctor_name" required [(ngModel)]="doctor_name">

      <label for="doctor_specialist">Doctor Specialist:</label>
      <input type="text" id="doctor_specialist" name="doctor_specialist" required [(ngModel)]="doctor_specialist">

      <label for="doctor_mobile">Doctor Mobile:</label>
      <input type="text" id="doctor_mobile" name="doctor_mobile" required [(ngModel)]="doctor_mobile">

      <label for="doctor_email">Doctor Email:</label>
      <input type="text" id="doctor_email" name="doctor_email" required [(ngModel)]="doctor_email">

      <label for="doctor_address">Doctor Address:</label>
      <input type="text" id="doctor_address" name="doctor_address" required [(ngModel)]="doctor_address">
      <button type="submit">إرسال</button>

    </form>
  </div>
</div>
