<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="create-hospital">
      <h2>Create Hospital</h2>
      <form id="createForm" (ngSubmit)="createHospital()">
        <div class="form-group">
          <label for="hospitalName">Name Hospital:</label>
          <input type="text" id="hospitalName" name="hospitalName" required [(ngModel)]="hospitalName">
        </div>

        <div class="form-group">
          <label for="hospital_place">Place Hospital:</label>
          <input type="text" id="hospital_place" name="hospital_place" required [(ngModel)]="hospital_place">
        </div>

        <div class="form-group">
          <label for="hospital_type">Type Hospital:</label>
          <input type="text" id="hospital_type" name="hospital_type" required [(ngModel)]="hospital_type">
        </div>

        <div class="form-group">
          <label for="hospital_description">Description Hospital:</label>
          <input type="text" id="hospital_description" name="hospital_description" required [(ngModel)]="hospital_description">
        </div>

        <div class="form-group">
          <label for="hospital_address">Address Hospital:</label>
          <input type="text" id="hospital_address" name="hospital_address" required [(ngModel)]="hospital_address">
        </div>

        <button type="submit" >Create Hospital</button>
      </form>
    </div>



  <!-- Rest of your existing code -->
    <div class="tooltip-container" *ngIf="selectedHospital">
      <div class="tooltip-content">
        <p><strong>Name:</strong> {{ selectedHospital?.hospitalName }}</p>
        <p><strong>Place:</strong> {{ selectedHospital?.hospital_place }}</p>
        <p><strong>Type:</strong> {{ selectedHospital?.hospital_type }}</p>
        <p><strong>Description:</strong> {{ selectedHospital?.hospital_description }}</p>
        <p><strong>Address:</strong> {{ selectedHospital?.hospital_address }}</p>
      </div>
    </div>

</div>

<div class="container">
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchHospital()">
    <button (click)="searchHospital()">Search</button>
  </div>
  <table>
    <thead>
    <tr>
      <th>Name Hospital</th>
      <th>Place Hospital</th>
      <th>Type Hospital</th>
      <th>Description Hospital </th>
      <th>Address Hospital</th>
      <th>Delete Hospital</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hospital of filteredHospital.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <td (click)="selectHospital(hospital)">{{ hospital.hospitalName }}</td>
      <td (click)="selectHospital(hospital)">{{ hospital.hospital_place }}</td>
      <td (click)="selectHospital(hospital)">{{ hospital.hospital_type }}</td>
      <td (click)="selectHospital(hospital)"> {{ hospital.hospital_description }}</td>
      <td (click)="selectHospital(hospital)"> {{ hospital.hospital_address }}</td>

      <td><button class="delete-btn" (click)="deleteHospital(hospital.id)">Delete Hospital</button></td>

    </tr>

    <!-- More table rows here -->
    </tbody>
  </table>
  <div class="pagination-container">
    <div class="pagination">
      <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
      <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
      <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</div>
</div>

