<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchTreatment()">
      <button (click)="searchTreatment()">Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Patient Name</th>
        <th>Nurse Name</th>
        <th>Medicine Name</th>
        <th>Treatment Name</th>
        <th>Treatment Number</th>
        <th>Treatment Type</th>
        <th>Treatment Date</th>
        <th>Treatment Description</th>

        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let treatment of filterTreatment.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">

        <td>{{treatment.doctor.username}}</td>
        <td>{{treatment.patient.username}}</td>
        <td>{{treatment.nurse.username}}</td>
        <td>{{treatment.medicines.medicineName}}</td>
        <td>{{treatment.treatmentName}}</td>
        <td>{{treatment.treatmentNumber}}</td>
        <td>{{treatment.treatmentType }}</td>
        <td>{{treatment.treatmentDate}}</td>
        <td>{{treatment.treatmentDescription }}</td>

        <td><button class="delete-btn" (click)="deleteTreatment(treatment.id)">Delete User</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="pagination">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>


