<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="create-hospital">
      <h2>Create Treatment</h2>
      <form id="createForm" (ngSubmit)="createTreatment()">
        <div class="form-group">
          <label for="doctorName">Name Doctor:</label>
          <!-- عرض قائمة الأطباء -->
          <select id="doctorName" name="doctorName" required [(ngModel)]="doctorName">
            <option *ngFor="let doctor of doctors" [value]="doctor.doctorName">{{ doctor.doctorName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="patientName">Name Patient</label>
          <select id="patientName" name="patientName" required [(ngModel)]="patientName">
            <option *ngFor="let patient of patient" [value]="patient.patientName">{{patient.patientName}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="medicineName">Name Medicines</label>
          <select id="medicineName" name="medicineName" required [(ngModel)]="medicineName">
            <option *ngFor="let medicine of medicine" [value]="medicine.medicineName">{{medicine.medicineName}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="treatmentName">Treatment Name:</label>
          <input type="text" id="treatmentName" name="treatmentName" required [(ngModel)]="treatmentName">
        </div>

        <div class="form-group">
          <label for="treatmentNumber">Treatment Number:</label>
          <input type="text" id="treatmentNumber" name="treatmentNumber" required [(ngModel)]="treatmentNumber">
        </div>

        <div class="form-group">
          <label for="treatmentType">Treatment Type:</label>
          <input type="text" id="treatmentType" name="treatmentType" required [(ngModel)]="treatmentType">
        </div>

        <div class="form-group">
          <label for="treatmentDate">Treatment Date:</label>
          <input type="text" id="treatmentDate" name="treatmentDate" required [(ngModel)]="treatmentDate">
        </div>

        <div class="form-group">
          <label for="treatmentDescription">Treatment Description:</label>
          <input type="text" id="treatmentDescription" name="treatmentDescription" required [(ngModel)]="treatmentDescription">
        </div>


        <button type="submit" >Create Treatment</button>
      </form>
    </div>


    <!-- Rest of your existing code -->

  </div>

  <div class="container">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button>Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Patient Name</th>
        <th>Medicine Name</th>
        <th>Treatment Name</th>
        <th>Treatment Number</th>
        <th>Treatment Type</th>
        <th>Treatment Date</th>
        <th>Treatment Description</th>

        <th>Edite Hospital</th>
        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let treatment of treatment.slice()">

        <td>{{treatment.doctor.doctorName}}</td>
        <td>{{treatment.patient.patientName}}</td>
        <td>{{treatment.medicines.medicineName}}</td>
        <td>{{treatment.treatmentName}}</td>
        <td>{{treatment.treatmentNumber}}</td>
        <td>{{ treatment.treatmentType }}</td>
        <td>{{ treatment.treatmentDate}}</td>
        <td> {{ treatment.treatmentDescription }}</td>

        <td><button class="edit-btn">Edit</button></td>
        <td><button class="delete-btn">Delete</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <!-- Add more pagination links here -->
    </div>
  </div>
</div>

