<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="create-hospital">
      <h2>Create Treatment</h2>
      <form id="createForm" (ngSubmit)="createTreatment()">


        <div class="form-group">
          <label for="doctorUsername">UserName Doctor</label>
          <select id="doctorUsername" name="doctorUsername" required [(ngModel)]="doctorUsername">
            <option *ngFor="let doctor of doctors"
                    [value]="doctor.username">{{doctor.username}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="nurseUsername">UserName Nurse</label>
          <select id="nurseUsername" name="nurseUsername" required [(ngModel)]="nurseUsername">
            <option *ngFor="let nurse of nurse"
                    [value]="nurse.username">{{nurse.username}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="patientUsername">UserName Patient</label>
          <select id="patientUsername" name="patientUsername" required [(ngModel)]="patientUsername">
            <option *ngFor="let patient of patient"
                    [value]="patient.username">{{patient.username}}</option>
          </select>
        </div>



        <div class="form-group">
          <label for="medicineName">Name Medicines</label>
          <select id="medicineName" name="medicineName" required [(ngModel)]="medicinesName">
            <option *ngFor="let medicine of medicine" [value]="medicine.medicineName">{{medicine.medicineName}}</option>
          </select>
        </div>


        <div class="form-group">
          <label for="treatmentName">Treatment Name:</label>
          <input type="text" id="treatmentName" name="treatmentName" required [(ngModel)]="treatmentName">
        </div>

        <div class="form-group">
          <label for="treatmentNumber">Treatment Number:</label>
          <input type="text" id="treatmentNumber" name="treatmentNumber" required [(ngModel)]="treatmentNumber">
        </div>

        <div class="form-group">
          <label for="treatmentType">Treatment Type:</label>
          <input type="text" id="treatmentType" name="treatmentType" required [(ngModel)]="treatmentType">
        </div>

        <div class="form-group">
          <label for="treatmentDate">Treatment Date:</label>
          <input type="text" id="treatmentDate" name="treatmentDate" required [(ngModel)]="treatmentDate">
        </div>

        <div class="form-group">
          <label for="treatmentDescription">Treatment Description:</label>
          <input type="text" id="treatmentDescription" name="treatmentDescription" required [(ngModel)]="treatmentDescription">
        </div>


        <button type="submit" >Create Treatment</button>
      </form>
    </div>


    <!-- Rest of your existing code -->

  </div>

  <div class="container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchTreatment()">
      <button (click)="searchTreatment()">Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Patient Name</th>
        <th>Nurse Name</th>
        <th>Medicine Name</th>
        <th>Treatment Name</th>
        <th>Treatment Number</th>
        <th>Treatment Type</th>
        <th>Treatment Date</th>
        <th>Treatment Description</th>

        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let treatment of filteredTreatment.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">

        <td>{{treatment.doctor.username}}</td>
        <td>{{treatment.patient.username}}</td>
        <td>{{treatment.nurse.username}}</td>
        <td>{{treatment.medicines.medicineName}}</td>
        <td>{{treatment.treatmentName}}</td>
        <td>{{treatment.treatmentNumber}}</td>
        <td>{{ treatment.treatmentType }}</td>
        <td>{{ treatment.treatmentDate}}</td>
        <td> {{ treatment.treatmentDescription }}</td>

        <td><button class="delete-btn" (click)="deleteTreatment(treatment.id)">Delete User</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="pagination">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>

