<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <button>Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Number Appointment</th>
        <th>Name Doctor</th>
        <th>Name Hospital</th>
        <th>Name Nurses</th>
        <th>Name Patient</th>
        <th>Type Appointment</th>
        <th>Date Appointment</th>
        <th>Description Appointment </th>
        <th>Edite Hospital</th>
        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointment.slice()">

        <td>{{appointment.appointment_number}}</td>
        <td>{{appointment.doctor.doctorName}}</td>
        <td>{{appointment.hospital.hospitalName}}</td>
        <td>{{appointment.nurses.nurseName}}</td>
        <td>{{appointment.patient.patientName}}</td>
        <td>{{ appointment.appointment_type }}</td>
        <td>{{ appointment.appointment_date }}</td>
        <td> {{ appointment.appointment_description }}</td>

        <td><button class="edit-btn">Edit</button></td>
        <td><button class="delete-btn">Delete</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <!-- Add more pagination links here -->
    </div>
  </div>
</div>

