<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>


  </style>
</head>
<body>

<div class="sidebar">
  <details>
    <summary>Dashboard</summary>
    <a routerLink="/admin-layout/manage-hospital-admin">Dashboard</a>
  </details>

  <details>
    <summary>Manage Hospital</summary>
    <a routerLink="/admin-layout/manage-hospital-admin">Manage Hospital</a>
    <a routerLink="/admin-layout/manage-appointment-admin">Manage Appointment</a>
    <a routerLink="/admin-layout/manage-medicines-admin">Manage Medicines</a>
  </details>


  <details>
    <summary>Manage Users</summary>
    <a routerLink="/admin-layout/manage-patient-admin">Manage Patient</a>
    <a routerLink="/admin-layout/manage-doctor-admin">Manage Doctor</a>
    <a routerLink="/admin-layout/manage-nurse-admin">Manage Nurse</a>
  </details>


</div>



</body>
</html>
