body {
  margin: 0;
  margin-bottom: -16px;
  font-family: Arial, sans-serif;

}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  background-color: #333;
  position: fixed;
  overflow-x: hidden;
  padding-top: 40px;
}
.sidebar details {
  margin-bottom: 30px;
  color: white;
  width: 250px;
  margin-left: 20px;
  font-size: 20px;
}

.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
  margin-left: 20px;
}

.sidebar a:hover {
  background-color: #ddd;
  color: black;
}
