<div class="content">

  <div class="form-container">
    <!-- combined-form.component.html -->
    <form (ngSubmit)="createUser()">

      <label for="username">User Name:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="username">

      <label for="username">Password</label>
      <input type="password" id="password" name="password" required [(ngModel)]="password">

      <label for="newRole">Role :</label>
      <select id="newRole" name="newRole" required [(ngModel)]="role">
        <option value="ROLE_PATIENT">Patient</option>
      </select>

      <button type="submit">إرسال</button>

    </form>
  </div>

  <div class="container1">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchPatient()">
      <button (click)="searchPatient()">Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Role</th>

        <th>Delete User</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patients of filteredUser.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">

        <td>{{patients.id}}</td>
        <td>{{patients.username}}</td>
        <td>{{patients.role}}</td>

        <td><button class="delete-btn" (click)="deleteUser(patients.id)">Delete User</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="pagination">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>
