<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="create-hospital">
      <h2>Create Medicines</h2>
      <form id="createForm" (ngSubmit)="createMedicines()">
        <div class="form-group">
          <label for="medicineName">Name Medicines:</label>
          <input type="text" id="medicineName" name="medicineName" required [(ngModel)]="medicineName">
        </div>

        <div class="form-group">
          <label for="medicine_company">Company Medicines:</label>
          <input type="text" id="medicine_company" name="medicine_company" required [(ngModel)]="medicine_company">
        </div>

        <div class="form-group">
          <label for="medicine_composition">Composition Medicines:</label>
          <input type="text" id="medicine_composition" name="medicine_composition" required [(ngModel)]="medicine_composition">
        </div>

        <div class="form-group">
          <label for="medicine_cost">Cost Medicines:</label>
          <input type="text" id="medicine_cost" name="medicine_cost" required [(ngModel)]="medicine_cost">
        </div>

        <div class="form-group">
          <label for="medicine_type">Type Medicines:</label>
          <input type="text" id="medicine_type" name="medicine_type" required [(ngModel)]="medicine_type">
        </div>

        <div class="form-group">
          <label for="medicine_dose">Dose Medicines:</label>
          <input type="text" id="medicine_dose" name="medicine_dose" required [(ngModel)]="medicine_dose">
        </div>

        <div class="form-group">
          <label for="medicine_description">Description Medicines:</label>
          <input type="text" id="medicine_description" name="medicine_description" required [(ngModel)]="medicine_description">
        </div>

        <button type="submit" >Create Hospital</button>
      </form>
    </div>


    <!-- Rest of your existing code -->
    <div class="tooltip-container" *ngIf="selectedMedicines">
      <div class="tooltip-content">
        <p><strong>Name:</strong> {{ selectedMedicines.medicineName }}</p>
        <p><strong>Company:</strong> {{ selectedMedicines.medicine_company }}</p>
        <p><strong>Composition:</strong> {{ selectedMedicines.medicine_composition }}</p>
        <p><strong>Medicine Cost:</strong> {{ selectedMedicines.medicine_cost }}</p>
        <p><strong>Medicine Type :</strong> {{ selectedMedicines.medicine_type }}</p>
        <p><strong>Medicine Dose:</strong> {{ selectedMedicines.medicine_dose }}</p>
        <p><strong>Medicine Description:</strong> {{ selectedMedicines.medicine_description }}</p>


      </div>
    </div>

  </div>

  <div class="container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchMedicines()">
      <button (click)="searchMedicines()">Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Name Medicines</th>
        <th>Company Medicines</th>
        <th>Composition Medicines</th>
        <th>Cost Medicines </th>
        <th>Type Medicines</th>
        <th>Dose Medicines</th>
        <th>Description Medicines</th>

        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let medicines of filteredMedicines.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
        <td (click)="selectMedicines(medicines)">{{medicines.medicineName}}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_company }}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_composition }}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_cost }}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_type }}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_dose }}</td>
        <td (click)="selectMedicines(medicines)">{{ medicines.medicine_description }}</td>

        <td><button class="delete-btn" (click)="deleteMedicines(medicines.id)">Delete Medicines</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="pagination">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>

