<!-- index.html -->
<div class="main-container">
  <div class="container">
    <div class="create-hospital">
      <h2>Create Appointment</h2>
      <form id="createForm" (ngSubmit)="createAppointment()">


        <div class="form-group">
          <label for="doctorUsername">Doctor UserName</label>
          <select id="doctorUsername" name="doctorUsername" required [(ngModel)]="doctorUsername">
            <option *ngFor="let doctor of doctors"
                    [value]="doctor.username">{{doctor.username}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="nurseUsername">Nurse UserName</label>
          <select id="nurseUsername" name="nurseUsername" required [(ngModel)]="nurseUsername">
            <option *ngFor="let nurse of nurse"
                    [value]="nurse.username">{{nurse.username}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="patientUsername">Patient UserName</label>
          <select id="patientUsername" name="patientUsername" required [(ngModel)]="patientUsername">
            <option *ngFor="let patient of patient"
                    [value]="patient.username">{{patient.username}}</option>
          </select>
        </div>


        <div class="form-group">
          <label for="hospitalName">Name Hospital</label>
          <select id="hospitalName" name="hospitalName" required [(ngModel)]="hospitalName">
            <option *ngFor="let hospital of hospital" [value]="hospital.hospitalName">{{hospital.hospitalName}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="appointmentNumber">Appointment Number:</label>
          <input type="text" id="appointmentNumber" name="appointmentNumber" required [(ngModel)]="appointmentNumber">
        </div>

        <div class="form-group">
          <label for="appointmentType">Appointment Type:</label>
          <input type="text" id="appointmentType" name="appointmentType" required [(ngModel)]="appointmentType">
        </div>

        <div class="form-group">
          <label for="appointmentDate">Appointment date:</label>
          <input type="text" id="appointmentDate" name="appointmentDate" required [(ngModel)]="appointmentDate">
        </div>

        <div class="form-group">
          <label for="appointmentDescription">Appointment Description:</label>
          <input type="text" id="appointmentDescription" name="appointmentDescription" required [(ngModel)]="appointmentDescription">
        </div>


        <button type="submit" >Create Appointment</button>
      </form>
    </div>


    <!-- Rest of your existing code -->

  </div>

  <div class="container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." (input)="searchAppointment()">
      <button (click)="searchAppointment()">Search</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>Number Appointment</th>
        <th>Name Doctor</th>
        <th>Name Nurses</th>
        <th>Name Patient</th>
        <th>Name Hospital</th>
        <th>Type Appointment</th>
        <th>Date Appointment</th>
        <th>Description Appointment </th>
        <th>Delete Hospital</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of filteredAppointment.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">

        <td>{{appointment.appointmentNumber}}</td>
        <td>{{appointment.doctor.username}}</td>
        <td>{{appointment.nurse.username}}</td>
        <td>{{appointment.patient.username}}</td>
        <td>{{appointment.hospital.hospitalName}}</td>
        <td>{{ appointment.appointmentType }}</td>
        <td>{{ appointment.appointmentDate }}</td>
        <td> {{ appointment.appointmentDescription }}</td>

        <td><button class="delete-btn" (click)="deleteAppointment(appointment.id)">Delete User</button></td>

      </tr>

      <!-- More table rows here -->
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="pagination">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="pagination-info">Page {{currentPage}} of {{totalPages}}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>
</div>

